# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/
dist/

# Contentlayer
.contentlayer/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo
